<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <title>LearnHelp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render 'layouts/shim'%>
  <%= render 'layouts/bootstrap_cdn'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="google-site-verification" content="P4AHDAnPRefMLuBg8ArW3sXS_QZCssftppGS7ZbwW8Q" />
</head>

<body>

  <%= render 'layouts/navbar'%>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer'%>
</body>

</html>